<!DOCTYPE html>
<html>
<head>
  <title>Robert Castiglione</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico?v=2" />
</head>
<body>

<%= render '/layouts/nav' %>

<main class="content">
  <%= yield %>
</main>

</body>
</html>
